.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.img__project {
    transition: transform 0.8s ease, box-shadow 0.8s ease; 
}

.img__project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.background-container::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1; 
}

.btn__Consultation:hover {
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255); 
}